body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: grey;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}


.album-cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover-image {
  width: 100%;
}

.fas.info-icon {
  border-radius: 7%;
  padding: .5rem;
  margin: .25rem;
  background-color: gray;
  color: white;
}

.fas.info-icon:hover {
  background-color:white;
  color: gray;
  transition: 1s;
  border: 1px black solid;
}


.album-info {
  width: 100%;
  padding-left: 5%;
}


.song-display {
  border: .5px solid rgba(136,136,136, .8);
  border-radius: 4%;
  width: 100%;
}

.progress {
  height: 1.5rem;
  width: 100%;
}

.player-image-container {
  background-image: url('https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?auto=format&fit=crop&w=800&q=80');
  min-height: 14rem;
  max-width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.play-control {
  height: 2rem;
  font-size: 5rem;
  color: rgba(160,160,160, .85);
  margin-top: 3rem;
}

.play-control:hover {
  color:  rgba(220,220,220, .95);
  transition: 1s;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer .badge {
  font-size: 1.25rem;
}

.add-comment {
  margin: 1.5rem 0;
  padding: .5rem;
}

.add-comment:hover {
  background-color: aqua;
  color:  rgba(220,220,220, .95);
  transition: 1s;
}

.album-card {
  padding: 1rem;
  text-align: center;
}

.button-row {
  margin-top: .5rem;
  width: inherit;
}