body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  align-items: center;
}

.card-container {
  margin-top: 3rem;
  display: flex;
  min-height: 23rem;
  width: 26rem;
  perspective: 1000px;
}

.album-cover-container {
  max-height: 25rem;
  max-width: 25rem;
  padding: .75rem;
}

.album-cover-image {
  width: 100%;
}

.fas.info-icon {
  border-radius: 7%;
  padding: .5rem;
  margin: .25rem;
  background-color: gray;
  color: white;
}

.fas.info-icon:hover {
  background-color:white;
  color: gray;
  transition: 1s;
  border: 1px black solid;
}

.song-display {
  border: 1px solid rgba(136,136,136, .8);
  border-radius: 4%;
  width: 25rem;
}

.progress {
  height: 1.5rem;
  width: 100%;
}

.player-image-container {
  background-image: url('https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?auto=format&fit=crop&w=800&q=80');
  min-height: 14rem;
  max-width: 24rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.play-control {
  height: 2rem;
  font-size: 5rem;
  color: rgba(160,160,160, .85);
  margin-top: 3rem;
}

.play-control:hover {
  color:  rgba(220,220,220, .95);
  transition: 1s;
}